body {
    text-align: center;
    width: 100%;

    
}

#cardSelection {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1% 15% 15% 15%;
    
}


.memory-card img {
    
    width: 250px;
    height: 250px;
    padding: 3px;
    margin: auto 0;
    
}

.front-face {
    display: none;
    
}

.flipped .front-face {
    display: block;
}

.flipped .back-face {
    display: none;
}

header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5%;
}